.finance_container {
  margin: 20px 50px;
  background: #ffffff;
  border-radius: 4px;
  padding: 50px;
}
.finance_wrapper {
  display: flex;
  align-items: center;
}
.bank_header {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 20px;
  color: #232526;
}
.finance_input_box {
  min-width: 500px;
  /* background-color: cadetblue; */
}
.finance_input_box label {
  display: block;
  font-weight: 450;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #232526;
  margin-bottom: 10px;
}
.finance_input {
  padding: 7px 10px;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #232526;
}
.finance_input:focus {
  outline: 1px solid #194af5;
}
.finance_input::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #7d818b;
}
.finance_body {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.finance_body h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #232526;
}
.finance_body p {
  max-width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.finance_image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.finance_image img {
  max-width: 100%;
}
.add_bank_cta {
  width: 100%;
  background: #194af5;
  border-radius: 4px;
  padding: 5px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 20px;
}
