.requests--container {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  background: #fff;
  height: 26em;
  overflow-y: scroll;
}
.responsive-calendar {
  /* z-index: 80 !important; */
  position: relative !important;
  /* position: relative !important; */
  right: 40% !important;
  font-size: 8px !important;
  /* background-color: blue !important; */
}
.wrappar_class {
  /* right: 10% !important; */
  position: absolute !important;
  right: 0 !important;
  top: 35%;
  /* background-color: red; */
}
.requests--container::-webkit-scrollbar-thumb {
  background: transparent !important;
}
.requests--header {
  padding: 20px;
  border-bottom: 1px solid #e6ebed;
  background: #fff;
  z-index: 5;
  position: sticky;
  top: 0;
  display: flex;
  position: relative;
  /* justify-content: space-around; */
}

.requests--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.reset_btn {
  margin-bottom: 0 !important;
  position: absolute;
  right: 55px;
  top: 35%;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.reset_btn:hover {
  color: #194af5;
}
.reset_svg path {
  fill: #000;
}
.requests--body {
  padding: 0 1em;
}
.request--card--gender,
.request--card--age {
  font-size: 14px;
}
.request--card {
  width: 100%;
  margin: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* cursor: auto; */
}

.request--card--profile {
  font-weight: 500;
  font-size: 14px;
  color: #5a6472;
  background: #e6ebff;
  border: 1px solid #f8f8f8;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.request--card--detials {
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #a9abad;
  width: 25em;
}

.request--card--name {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #232526;
  margin-bottom: 5px;
}

.requests--card--buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 160px;
}

.requests--card--button {
  transform: matrix(1, 0, 0, -1, 0, 0);
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.decline {
  background: #e6ebff;
  margin-right: 1em;
}
.request--card--time {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  color: #5a6472;
  background: #e6ebff;
  border-radius: 13px;
  padding: 5px 8px;
  margin-left: 5px;
}
.date_filter_input {
  position: relative;
  cursor: pointer;
}
.date_filter_input_input {
  width: 30px !important;
}
.date_filter_input_icon {
  position: absolute;
  right: 50%;
}
.date_filter_input_icon path {
  fill: transparent;
}
.date_filter_input_icon.activated path {
  color: #194af5;
}
