.doctor_details_wrapper {
  margin: 20px 50px;
  background: #ffffff;
  border-radius: 4px;
  padding: 30px 30px 20px 30px;
}
.doctor_image_box {
  display: flex;
}
.doctor_image_choose {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='11' ry='11' stroke='%23333' strokeWidth='3' stroke-dasharray='6%2c 14' stroke-dashoffset='15' strokeLinecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  margin-right: 10px;
  width: 90px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload_pic_input {
}
.wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
}

.file-upload {
  height: 110px;
  width: 110px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #000;
  overflow: hidden;
  margin-right: 20px;
}
.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: -5px;
  right: 10px;
  z-index: 99;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.file-upload input {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  /* background-color: red; */
}
.upload_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.wrapper img {
  max-width: 100%;
}
.doctor_image_content {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3e3d3c;
}
.image_upload_cta {
  background: #e6ebff;
  border: none;
  padding: 5px 20px;
  margin-right: 20px;
  border-radius: 4px;
  color: #194af5;
}
.image_upload_cta.loader_true {
  background: #194af5;
  color: #fff;
}
.image_upload_cta:active {
  transform: scale(0.99);
}
.image_delete_cta {
  background: #fff;
  border: 1px solid #194af5;
  border-radius: 4px;
  padding: 5px 20px;
  color: #194af5;
}
.doctor_details_content {
  display: flex;
  /* max-width: 700px; */
  padding: 20px 0 0;
}
.doctor_details_content h6 {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #b7b7b7;
}
.doctor_details_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #232526;
  margin-bottom: 20px;
}
.doctor_column1 {
  margin-right: 300px;
}
.doctor_details_head h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #232526;
  margin-left: 50px;
}
.details_edit_cta button {
  background: #e6ebff;
  border-radius: 4px;
  border: none;
  width: 200px;
  padding: 10px 0;
  color: #194af5;
  font-weight: 500;
}
