.appointment_table {
  border-collapse: collapse;
  width: 92%;
  margin: auto;
}

.appointment_table td,
.appointment_table th {
  border: 1px solid #ddd;
  padding: 13px;
  font-size: 14px;
}

.appointment_table tr:nth-child(even) {
  background-color: #fff;
}

.appointment_table tr:hover {
  background-color: #e6ebff;
}

.appointment_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e6ebff;
  color: #000;
}
.name_row {
  width: 12em;
}
.serial_row {
  font-size: 15px;
}
.date_row {
  width: 12em;
}
.receipt_row {
  width: 10em;
}
.dropdown-item {
  cursor: pointer !important;
}
.export_btn {
  background: #194af5 !important;
  margin-top: 10px;
}
.export_dropdown {
  margin-right: 3.4em;
}
.date_filter {
  z-index: 1;
}

.legal_reset_btn {
  margin-bottom: 2px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.legal_reset_btn:hover {
  color: #194af5;
}
.legal_form__date_input {
  background: transparent;
  width: 30px !important;
}
