.appointment_table {
  border-collapse: separate;
  border: 1px solid #d6d6d6;
  border-radius: 6px 6px 6px 6px;
  border-spacing: 0 !important;
  width: 92%;
  margin: auto;
}

.appointment_table td,
.appointment_table th {
  border: 1px solid rgba(0, 0, 0, 0.06);
  padding: 13px;
  font-size: 14px;
}

.appointment_table tr {
  background-color: #fff;
}

.appointment_table tr:hover {
  background-color: #e6ebff;
}

.appointment_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: rgba(238, 242, 255, 0.72);
  color: #000;
  font-weight: 500;
}
.small_text {
  font-size: 12px;
}
.name_row {
  width: 12em;
}
.serial_row {
  font-size: 15px;
}
.date_row {
  width: 12em;
}
.receipt_row {
  width: 10em;
}
.dropdown-item {
  cursor: pointer !important;
}
.export_btn {
  background: #194af5 !important;
  margin-top: 10px;
}
.export_dropdown {
  margin-right: 1em;
  margin-left: 3.4em;
}
.date_filter {
  z-index: 1;
}

.legal_reset_btn {
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.legal_reset_btn:hover {
  color: #194af5;
}
.legal_form__date_input {
  background: transparent;
  width: 30px !important;
}

.legal_topBar {
  position: relative !important;
}

.legal_filter_input_icon {
  cursor: pointer;
}
.legal_filter_input_icon path {
  /* fill: transparent; */
}
.legal_filter_input_icon.activated path {
  fill: #194af5;
}
.legal_filter_input_icon.activated rect {
  fill: #194af5;
}
.date_filter_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #194af5;
  background: #e6ebff;
  border-radius: 4px;
  border: none;
  padding: 7px 10px;
  margin-bottom: 5px;
}
.legal_calender_range {
  position: absolute !important;
  left: 10em;
  top: 90%;
}
